<div class="form-group row">
    <label for="categoryId" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
        <input type="text" disabled class="form-control" id="catId" >
    </div>
</div>
<div class="form-group row">
    <label for="catName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="catName">
    </div>
</div>
@code
{
    [Parameter] public Category Model { get; set; }

}