@using NorthwindBlazor.Entities.CustomerModels
@page "/customers"
@inject HttpClient Http

<h1>Customer List</h1>

@if(state==States.loading)
{
    <p><em>Loading...</em></p>
}
else if (state == States.error)
{
<div class="alert alert-danger">
    [icon] @error
</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.CompanyName</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    enum States {  loading, error, loaded }
    // inital state
    States state = States.loading;
    string error = null;
    CompanyNameOnly[] customers;

    protected override async Task OnInitAsync()
    {
        try
        {
            customers = await Http.GetJsonAsync<CompanyNameOnly[]>("api/Customer/CompanyNames");
            state = States.loaded;

        }
        catch (Exception e)
        {
            error = e.Message;
            state = States.error;
        }
    }
}
